@{
    ViewData["Title"] = "Home Page";
}
@model WrfWeb.Models.IndexModel


<div style="text-align:center;font-size:x-large">GFS data start date: <b>@Model.SimulationStartDate.ToString()</b></div>
<div style="text-align:center;font-size:small">mouse over lines for dates</b></div>
<div style="text-align:center;font-size:small">reported @Model.CurrentRunState at @Model.LastCheckinDate</b></div>

<div id="curve_chart" style="width: 100%;"></div>

<div id="temp_chart" style="width: 100%;"></div>

<div id="snow_chart" style="width: 100%;"></div>

<div id="wind_chart" style="width: 100%;"></div>

<div id="pressure_chart" style="width: 100%;"></div>

@*<div>Run Details:</div>
<div>
    <ul>
        @for(int c=0;c<Model.RunIds.Count;c++)
        {
            <li>Physics @c</li>
        }
    </ul>
</div>*@

<script type="text/javascript">
      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawCharts);

      function drawChart(elementName, chartText, array) {
          var chartData = google.visualization.arrayToDataTable(array);

          var dataOptions = {
              title: chartText,
              curveType: 'function',
              legend: { position: 'bottom' }
          };

          var chart = new google.visualization.LineChart(document.getElementById(elementName));
          chart.draw(chartData, dataOptions);
      }

      function drawCharts() {

          drawChart(
              'curve_chart',
              'Average expected precip over Lancaster County, NE (in mm)',
              @Html.Raw(Json.Serialize(Model.PrecipSummary)))

          drawChart(
              'temp_chart',
              'Average expected temperature over Lancaster County, NE (in F)',
              @Html.Raw(Json.Serialize(Model.TempSummary)))

          drawChart(
              'snow_chart',
              'Average depth of snow over Lancaster County, NE (in inches)',
              @Html.Raw(Json.Serialize(Model.SnowDepths)))

          drawChart(
              'wind_chart',
              'Average wind speed over Lancaster County, NE (in m/s)',
              @Html.Raw(Json.Serialize(Model.WindSpeeds)))

          drawChart(
              'pressure_chart',
              'Average surface pressure over Lancaster County, NE (in Pa)',
              @Html.Raw(Json.Serialize(Model.SurfacePressures)))
      }
</script>